@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rubik: 'Rubik', sans-serif;
}

body {
  font-family: var(--font-rubik);
}

h1{
  font-size: 40px;
  font-weight: bold;
}

h2{
  font-size: 24px;
  font-weight: 600;
}

p{
  font-size: 20px;
  font-weight: 300;
}

.p-secondary{
  font-size: 16px;
}

.header-shadow{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.primary-btn-padding{
  padding: 15px 22px 16px 23px;
}

.secondary-btn-padding{
  padding: 15px 22px 16px 23px;
}

.secondary-btn-border{
  border: solid 2px #23314c;
}

.secondary-btn-border-2{
  border: solid 2px #b0438a;
}

.social-media-padding{
    padding: 40px 0;
}

.site-links-padding{
  padding: 56px 0 64px 0;
}

.copy-right-padding{
  padding: 39px 0 32px 0;
}

.w-special{
  max-width: 1200px;
}

.w-special-nav{
  width: 460px;  
}

.w-btn-group{
  width: 478px;
}

.w-logo{
  width: 110px;
}